<div class="columns is-centered">
  <div class="column is-half">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>state</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @resources.each do |resource| %>
          <tr>
            <td>
              <%= resource.id %>
            </td>
            <td>
              <%= resource.name %>
            </td>
            <td id="resource_state_<%= resource.id %>">
              <% if resource.available? %>
                <span class="tag is-success">available</span>
              <% else %>
                <span class="tag is-danger">unavailable</span>
              <% end %>
            </td>
            <td>
              <span class="resource_toggle" data-id=<%= resource.id %>>
                toggle
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
